@model MVCMusicStore5.Models.AlbumModels.AlbumModel

@{
    ViewBag.Title = "Add Album";
}

<h2>AddAlbum</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="GenreId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="GenreId" asp-items="ViewBag.GenreDictionary" class="form-control"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ArtistId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ArtistId" asp-items="ViewBag.ArtistDictionary" class="form-control"></select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Title" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Title" type="text" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Price" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
    <input asp-for="Id" type="hidden" />
}

<div>
    <a asp-controller="Admin" asp-action="Admin">Back to List</a>
</div>
